* {
    box-sizing: border-box;
}



#loginForm {
    /* display: flex; */
    flex-direction: column;
    width: 20%;
    border:2px solid black;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    margin-left: 50px;
}
#box{
    display: flex;
/*   
   padding: 50px; */
   width: 100%;
   
   text-align: center;
    margin-top: 80px;
   align-items: center;
   justify-content: center;
   margin-bottom: 50px;
}



/* .form{
    display: flex;
    flex-direction: column;
    width: 20%;
    border:2px solid black;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    
    
} */
.signupContainer{
   
margin: 0 auto;
justify-content: center;
display: flex;
align-items: center;
}


.signUp{
  
    flex-direction: column;
    width: 20%;
    border:2px solid black;
    padding: 50px;
    margin-left: 50px;
    border-radius: 20px;
    /* justify-content: center;
    align-items: center; */
    
}
/* 
body {
    min-height: 100vh;
    display: flex;
    font-weight: 400;
    font-family: sans-serif;
    background: #12c2e9;
    /* fallback for old browsers */


/* background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); */


/* } */


/* .navbar-light {
    background-color: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}





.inner {
    width: 450px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
}

.outer .form-control:focus {
    border-color: #167bff;
    box-shadow: none;
}

.outer h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
}

.custom-control-label {
    font-weight: 400;
}

.forgot-password,
.forgot-password a {
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    color: #7f7d7d;
    margin: 0;
}

.forgot-password a {
    color: #167bff;
} */