#jumbo{

height: 100vh; 
display:flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-size: cover;
position: relative;
/* opacity:rgba(0,0,0,0.3); */
opacity: 100;
background-image: url("../../images/jasper-geys-NyRe1Mj1pm4-unsplash.jpg");
}
/* linear-gradient(rgba(0,0,0,0.3)rgba(0,0,0,0.3,)), */